# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# --- Environments ---
.env
.venv/
venv/

# --- IDE / Editor ---
.vscode/
.idea/

# --- OS Files ---
.DS_Store

# --- Logs ---
*.log

# --- Data Files ---
data/
